APP_ENV=local
APP_DEBUG=1
APP_PORT=8081
APP_URL=http://localhost:8081

MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=phpsandbox
MYSQL_USER=phpsandbox
MYSQL_PASSWORD=phpsandbox

REDIS_PORT=6380

XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_MODE=debug

UID=1000
GID=1000